<div class="main">

<div class="row">
    <div class="col-md-12">
        <div class="header">
            <div style="padding-left:10px; width:50%;height:600px;background-color: rgb(16, 112, 221);float: left;position:absolute;top:0px;left:0px;border-top-right-radius: 50%;z-index:12;">
               <br><br>
                <h3>MORDRN DIGIWEB</h3>
                <p>An Internatinal Brand of Web Solution</p>
            </div>

            <div class="header">
                <div style="z-index:1; padding-left:10px; width:55%;height:600px;background-color: rgb(51, 158, 245);float: left;position:absolute;top:0px;left:-10px;border-top-right-radius:50%;">
                   <br><br>
                  
                </div>


                <div style="padding-left:10px; width:50%;height:200px;background-color:white;position:absolute;top:0px;right:0px;border-bottom-right-radius:0%;border-bottom-left-radius:0px;z-index:1;">
                    <br><br>
                     <h3>ABOUT US</h3>
                 </div>

           




            
        </div>
    </div>
</div>


<div class="row" style="padding:20mm 0px;">
    <div class="col-md-4 py-1">
<div class="branch_cont">
    <h4 class="ml-2 pt-2">Our Branchases</h4>
    <br>

    <div  style="margin:30px 0px;">
  <h5><span style=" width:40px;height:40px;background-color: rgb(6, 165, 138);padding:9px 13px;color:white;font-size:25px;border-radius:50%;margin:0px 5px;" class="fa fa-street-view"></span>Kolkata Breanch</h5>
    </div>

    <div style="margin:30px 0px;">
        <h5><span style=" width:40px;height:40px;background-color: rgb(6, 165, 138);padding:9px 13px;color:white;font-size:25px;border-radius:50%;margin:0px 5px;" class="fa fa-street-view"></span>Kolkata Breanch</h5>
          </div>


          <div style="margin:30px 0px;">
            <h5><span style=" width:40px;height:40px;background-color: rgb(6, 165, 138);padding:9px 13px;color:white;font-size:25px;border-radius:50%;margin:0px 5px;" class="fa fa-street-view"></span>Kolkata Breanch</h5>

              </div>

              <button class="contact_btn" style="">ALL BRANCHES</button>

  




</div>



    </div>
    <div class="col-md-8 text-center">
        
        <div style="width: 100%;height:auto;text-align: center;padding:20px 10px;">
            
            <div class="row hover_element">
                <div class="col-md-3 cont_sm">
                    <i class="fa fa-industry"></i>
                    <h4 class="w-30 text-light">Company</h4>
                </div>
                <div class="col-md-9 cont_big">
                    <div class="big_hover"></div>
                    <h4>All about our company</h4>
                    <p class=" text-justify">What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and 
                        typesetting industry Lorem Ipsum has been the industry's standard dummy text ever
                         since the 1500s when an unknown printer took 
                        a galley of type and scrambled it to make a type specimen book it has?
                        since the 1500s when an unknown printer took 
                        a galley of type and scrambled it to make a type specimen book it has?
                    </p>
                    <div class="hover_btn_group">
                        <button class="contact_btn">Contact</button>
                        <button class="details">Details</button>
                    </div>
                </div>
            </div>
<br><br>
        <div class="row hover_element">
            <div class="col-md-3 cont_sm">
                <i class="fa fa-american-sign-language-interpreting"></i>
                <h4 class="w-30 text-light">Our team</h4>
            </div>
            <div class="col-md-9 cont_big">
                <div class="big_hover"></div>
                <h4>How to build our team</h4>
                <p class=" text-justify">What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and 
                    typesetting industry Lorem Ipsum has been the industry's standard dummy text ever
                     since the 1500s when an unknown printer took 
                    a galley of type and scrambled it to make a type specimen book it has?
                    since the 1500s when an unknown printer took 
                    a galley of type and scrambled it to make a type specimen book it has?
                </p>
                <div class="hover_btn_group">
                    <button class="contact_btn">Contact</button>
                    <button class="details">Details</button>
                </div>
            </div>
        </div>

        <br><br>


        <div class="row hover_element">
            <div class="col-md-3 cont_sm">
                <i class="fa fa-wrench"></i>
                <h4 class="w-30 text-light">Work balance</h4>
            </div>
            <div class="col-md-9 cont_big">
                <div class="big_hover"></div>
                <h4>How to procees our task</h4>
                <p class=" text-justify">What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and 
                    typesetting industry Lorem Ipsum has been the industry's standard dummy text ever
                     since the 1500s when an unknown printer took 
                    a galley of type and scrambled it to make a type specimen book it has?
                    since the 1500s when an unknown printer took 
                    a galley of type and scrambled it to make a type specimen book it has?
                </p>

                <div class="hover_btn_group">
                    <button class="contact_btn">Contact</button>
                    <button class="details">Details</button>
                </div>

            </div>
        </div>



            
        </div>
        
    </div>
</div>
</div>



<!--Start gallery -->
<h3 class="text-center text-light">Gallery</h3>
<div class="row">
    <div class="col-md-3">
    </div>

    <div class="col-md-9">
        <div class="img_viewer">
            <img src="../../assets/gallery.jpg" width="80%">
        </div>

    </div>
</div>

<!--End gallery-->





</div>
