<div class="main">

<div class="row">

<div class="col-md-12" style="padding:30px 20px">
  <div style="background:url('../../assets/ceo.jpg);">
    <h1 class="title">DIGIWEN ALWAYS READY TO<br> BUILD YOUR FUTUTE</h1>
<p class="text-light title-desc">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
    roots in a piece of classical Latin literature from 45 BC, making it over 2000
     years old. Richard McClintock, a Latin professor at Hampden-Sydney College in
      Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem
       Ipsum passage, and going through the cites of the word in classical literature,
        discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of 
        "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
         This book is a treatise on the theory of ethics, very popular during the Renaissance. The first
    line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32</p>
  </div>

    <br><br><br><br>
    <div class="candidate" style="">
      <h3 class="text-light">Get a jobs</h3>
            <div class="" style="width:40%;height:auto;float:left;">
              <div class="job">
                  <h3 class="job_title">Junior php developer</h3>
                  <p class="job_desc">
                      Junior php developers required ! <br>
                      Expriences :3 years<br>
                      Number of candidate : 20 <br>
                     <br>
                      <b>Skills</b> : Must have good knowledge in php.
                      And 3/4 projects were done . Strong understansing of object oriented concept .<br>
                      JSON, rest api development ,Good in ux/ui .
                     </p>
                  <div class="hover_btn_group">
                    <button class="contact_btn">Apply</button>
                    <button class="details">Read more</button>
                </div>
                <hr>
              </div> 
               


              <div class="job">
                <h3 class="job_title">Junior php developer</h3>
                <p class="job_desc">
                    Junior php developers required ! <br>
                    Expriences :3 years<br>
                    Number of candidate : 20 <br>
                   <br>
                    <b>Skills</b> : Must have good knowledge in php.
                    And 3/4 projects were done . Strong understansing of object oriented concept .<br>
                    JSON, rest api development ,Good in ux/ui .
                   </p>
                <div class="hover_btn_group">
                  <button class="contact_btn">Apply</button>
                  <button class="details">Read more</button>
              </div>
              <hr>
            </div>  



            <div class="job">
              <h3 class="job_title">Junior php developer</h3>
              <p class="job_desc">
                  Junior php developers required ! <br>
                  Expriences :3 years<br>
                  Number of candidate : 20 <br>
                 <br>
                  <b>Skills</b> : Must have good knowledge in php.
                  And 3/4 projects were done . Strong understansing of object oriented concept .<br>
                  JSON, rest api development ,Good in ux/ui .
                 </p>
              <div class="hover_btn_group">
                <button class="contact_btn">Apply</button>
                <button class="details">Read more</button>
            </div>
            <hr>
          </div>  

         
          <nav class="mt-4">
            <ul class="pagination">
              <li class="page-itemm"><span class="p_cover"></span><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
              <li class="page-itemm"><span class="p_cover"></span><a class="page-link" href="#">1</a></li>
              <li class="page-itemm"><span class="p_cover"></span><a class="page-link" href="#">2</a></li>
              <li class="page-itemm"><span class="p_cover"></span><a class="page-link" href="#">3</a></li>
              <li class="page-itemm"><span class="p_cover"></span><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
          </nav>
          

            </div>
            <div class="" style="width:60%;height:400px;float:left;">
            
            
                             
            
            
            </div>
     </div>




     <div class="cv_part">


      <div class="all_position">
        <div class="client_is_happy" style="">
           <h2>Is all the employies are happy with us</h2>  
           <p>At Flipkart, we strive for a leadership culture that’s built
              on the values of people-centricity, respect, audacity, inclusion and empathy.
               We pride ourselves on being a workplace where 
             leaders are always approachable and engaging, and employees feel heard.</p>  
             </div>            
      </div> 

     </div>







    </div>
</div>

</div>



