<div class="main">

    <h1 class="title" style="margin:8px 0px;">Our Services</h1>
    
<div class="row text-center" style="width:100%;height:auto;padding: 30px;">
   
<div class="col-12 d-flex justify-content-around flex-wrap">
   

    <div class="box">
        <div class="hover_box">
            <div class="hover_btn_group">
                <button class="contact_btn">Contact</button>
                <button class="details">Details</button>

            </div>
        </div>
        <i class="fa fa-diamond"></i>
        <h3>WEB DESIGN</h3>
        <br>
        <p>
            1960s with the release of Letraset sheets containing Lorem Ipsum passages,
             and more recently with desktop publishing software like
             Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        </div>

        <div class="box">
            <div class="hover_box">
                <div class="hover_btn_group">
                    <button class="contact_btn">Contact</button>
                    <button class="details">Details</button>
    
                </div>
            </div>
            <i class="fa fa-anchor"></i>
            <h3>WEB DEVELOPMENT</h3>
            <br>
            <p>
                1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                 and more recently with desktop publishing software like
                 Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            </div>

            <div class="box">
                <div class="hover_box">
                    <div class="hover_btn_group">
                        <button class="contact_btn">Contact</button>
                        <button class="details">Details</button>
        
                    </div>
                </div>
                <i class="fa fa-archive"></i>
                <h3>CONTENT WRTEING</h3>
                <br>
                <p>
                    1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                     and more recently with desktop publishing software like
                     Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                </div>

                <div class="box">
                    <div class="hover_box">
                        <div class="hover_btn_group">
                            <button class="contact_btn">Contact</button>
                            <button class="details">Details</button>
            
                        </div>
                    </div>
                    <i class="fa fa-area-chart"></i>
                    <h3>DIGITAL MARKETING</h3>
                    <br>
                    <p>
                        1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                         and more recently with desktop publishing software like
                         Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    </div>


                    <div class="box">
                        <div class="hover_box">
                            <div class="hover_btn_group">
                                <button class="contact_btn">Contact</button>
                                <button class="details">Details</button>
                
                            </div>
                        </div>
                    <i class="fa fa-bullhorn"></i>
                    <h3>BRNADING</h3>
                    <br>
                    <p>
                   1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                  and more recently with desktop publishing software like
                   Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                        </div>

                        <div class="box">
                            <div class="hover_box">
                                <div class="hover_btn_group">
                                    <button class="contact_btn">Contact</button>
                                    <button class="details">Details</button>
                    
                                </div>
                            </div>
                            <i class="fa fa-cogs"></i>
                            <h3>SEO</h3>
                            <br>
                            <p>
                                1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                 and more recently with desktop publishing software like
                                 Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                            </div>



</div>



</div>
<div class="btn_cont">
    <button class="load-more">LOAD MORE</button>
</div>



</div>
