<div class="review">
    <div class="row">
       
        <div class="col-md-6  p-0 m-0  review-cont-one">
            <div>
                <h3 class="title">   Our Clients Love Our Work</h3>
                    <p class="description">No Challenge is Too Big, No Client is Too Small</p>
            <button class="view-all">view all</button>
            
                </div>
                            
        </div>
        <div class="col-md-6  p-0 m-0 review-cont-two">
          
            <div class="slide-cont">
                <div class="slide-cont-item" #titleContainer>
                    
                </div>
            </div>
            
        </div>
       

    </div>
</div>
