


<div class="main">
    <!-- <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide">
          </div>
          <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide">
          </div>
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </ng-template>
      </ngb-carousel> -->
    <div class="cont-text">
        <div class="title-cont">
        <h1 class="title">We Serve All Industries</h1>
        <p class="sub-title">We stay on top of our industry by being experts in yours.</p>
        </div>
      
            <div class="box-cont">
              <div style="width:2150px;height:100%;display: flex;justify-content: space-between;align-items: center;">
                <div class="box-one">
                  <div>
                      <p><i class="fas fa-regular fa-coins"></i><span>finance</span></p>
                      <p><i class="fas fa-thin fa-paint-roller"></i><span>construction</span></p>
                      <p><i  class="fas fa-light fa-snowplow"></i><span>low</span></p>
                      <p><i class="fas fa-regular fa-building-ngo"></i><span>NGO</span></p>
                      </div>
          </div>
         
       
              <div class="box-two">
                  <div>
                      <p><i class="fas fa-regular fa-coins"></i><span>automation</span></p>
                      <p><i class="fas fa-thin fa-paint-roller"></i><span>B2B</span></p>
                      <p><i  class="fas fa-light fa-snowplow"></i><span>beauty and fashion</span></p>
                      <p><i class="fas fa-regular fa-building-ngo"></i><span>ecommerce</span></p>
                      </div>
              </div>
          
       
              <div class="box-three">
                  <div>
                      <p><i class="fas fa-regular fa-coins"></i><span>healthcare</span></p>
                      <p><i class="fas fa-thin fa-paint-roller"></i><span>education</span></p>
                      <p><i  class="fas fa-light fa-snowplow"></i><span>MLM</span></p>
                      <p><i class="fas fa-regular fa-building-ngo"></i><span>government</span></p>
                      </div>
              </div>

              <div class="box-one">
                <div>
                    <p><i class="fas fa-regular fa-coins"></i><span>finance</span></p>
                    <p><i class="fas fa-thin fa-paint-roller"></i><span>construction</span></p>
                    <p><i  class="fas fa-light fa-snowplow"></i><span>low</span></p>
                    <p><i class="fas fa-regular fa-building-ngo"></i><span>NGO</span></p>
                    </div>
        </div>
       
     
            <div class="box-two">
                <div>
                    <p><i class="fas fa-regular fa-coins"></i><span>automation</span></p>
                    <p><i class="fas fa-thin fa-paint-roller"></i><span>B2B</span></p>
                    <p><i  class="fas fa-light fa-snowplow"></i><span>beauty and fashion</span></p>
                    <p><i class="fas fa-regular fa-building-ngo"></i><span>ecommerce</span></p>
                    </div>
            </div>
        
     
            <div class="box-three">
                <div>
                    <p><i class="fas fa-regular fa-coins"></i><span>healthcare</span></p>
                    <p><i class="fas fa-thin fa-paint-roller"></i><span>education</span></p>
                    <p><i  class="fas fa-light fa-snowplow"></i><span>MLM</span></p>
                    <p><i class="fas fa-regular fa-building-ngo"></i><span>government</span></p>
                    </div>
            </div>
       
       
            
         
         
         
              </div> 
            </div>
                 
             
          
        <div class="image-cont">
            <img class="img-one" src="../../../assets/we-serve-img-1.png" alt="">
            <img class="img-two" src="../../../assets/we-serve-img-2.png" alt="">
        </div>
    </div>
</div>